{% extends 'base.html' %}

{% block content %}
    <div class="container">

            <div class="card">
                <h5 class="card-header">{{ school.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ school.category }}</h5>
                    <h6 class="card-text">{{ school.content }}</h6>
                    <a href="{% url 'list' %}" class="btn btn-primary">Back to Main Page</a>
                    <a href="{% url 'update' school.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete' school.pk %}" class="btn btn-primary">Delete</a>                                  
                </div>
            </div>


    </div>

{% endblock content %}