{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card-body">
            <form action="{% url 'update' school.pk %}" method="POST">
                {% csrf_token %}
                <p>Name</p>
                <input type="text" name="name" value="{{ school.name }}">
                <br><br>
                <p>Content</p>
                <textarea name="content">{{ school.content }}</textarea>
                <br><br>
                <label for="category">Category :</label>
                <select name="category" id="category">
                    <option value={{ school.category }} selected>{{ school.category }}</option>                
                    <option value="Local">Local</option>
                    <option value="Japan">Japan</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                </select> 
                <br>
                <p>Price</p>
                <textarea name="price">{{ school.price }}</textarea><br>

                <input type="submit" value="Update">
            </form>
            <br>
            <a href="{% url 'detail' school.pk %}" class="btn btn-primary">Back</a>                                
        </div>

    </div>

{% endblock content %}